[submodule "hardcode-fixer"]
      path = hardcode-fixer
      url = git://github.com/Foggalong/hardcode-fixer.git
[submodule "pipes.sh"]
      path = pipes.sh
      url = git://github.com/livibetter/pipes.sh.git
